<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Playlists</title>
  </head>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-family: "SF Display", "Inter", "Trebuchet MS", "Lucida Sans Unicode",
        "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    }
    h3 {
      font-size: 25px;
      padding: 15px;
    }
    th {
      font-size: 18px;
      padding: 15px;
    }
    span {
      margin-top: 30px;
      font-size: 18px;
    }
  </style>
  <body>
    <div>
      <h3>List of musics in playlist</h3>
      <table>
        <tr>
          <th>Music Id</th>
          <th>Music Name</th>
        </tr>
        <tr th:each="music:${musics}">
          <td th:text="${music}"></td>
          <!-- <td th:text="${music.name}"></td> -->
        </tr>
      </table>
    </div>
  </body>
</html>
