<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin add new music to system</title>
</head>
<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: "SF Display", "Inter", "Trebuchet MS", "Lucida Sans Unicode",
      "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  h3 {
    font-size: 25px;
    padding: 15px;
  }
  th {
    font-size: 18px;
    padding: 15px;
  }
  span {
    margin-top: 30px;
    font-size: 18px;
  }
</style>
<body>
   <div>
     <h3>Upload Multiple Files</h3>
     <form id="uploadFiles" name="uploadFiles" method="post" th:action=@{/music/upload} encType="multipart/form-data">
       <input type="file" name="files" multiple required />
       <input type="text" name="artistName"/>
       <button type="submit">Submit</button>
     </form>
   </div>
   
   <div>
     <h3>List of Musics in the System</h3>
     <table>
        <tr>
          <th>Music Id</th>
          <th>Music Name</th>
        </tr>
        <tr th:each="doc:${docs}">
          <td th:text="${doc.id}"></td>
          <td th:text="${doc.name}"></td>
          <td>
            <button th:onclick="'parent.fetchMusic('+${doc.id}+');'">▶️</button>
          </td>
        </tr>
     </table>
   </div>

</body>
</html>